
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Roboto:wght@100&display=swap');

:root {
    --font-inter: 'Inter', sans-serif;
}

@font-face {
    font-family: 'Ferry Black';
    src: url('../fonts/ferry_black.otf') format('opentype');
}


main {
    /*width: 1440px;*/
    width: auto;
    height: 2867px;
    /*flex-shrink: 0;*/
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main-page {
    display: grid;
    grid-template-rows: 93px 620px 349px 576px 664px auto;
    /*grid-row-gap: 10px;*/

}
.main-page-header {
    grid-template-rows: 93px;
}

/* temp*/
/*.main-page > :nth-child(n) {*/
/*    border: 1px solid #0423c2;*/
/*}*/


.main-page-greetings {
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: 60% 40%;
    grid-template-rows: 620px;
    /*margin: 117px 36px 109px 60px;*/
    margin: 24px 36px 109px 60px;

    /* temp*/
    /*border: 1px solid #de0808;*/

}
 /*temp*/
/*.main-page-greetings > div:nth-child(n) {*/
/*    border: 1px solid #6f08ea;*/
/*}*/

.main-page-greetings-left {
    display: grid;
    /*grid-template-rows: repeat(3, 1fr);*/
    grid-template-rows: 64% 10% 36%;
    z-index: 2;
    min-width: 716px;
}

/* temp*/
/*.main-page-greetings-left > div:nth-child(n) {*/
/*    border: 1px solid #04d760;*/
/*}*/

.main-page-greetings-left-text {
    color: #000;
    font-size: 60px;
    font-family: 'Ferry Black', serif;
    /*font-style: normal;*/
    font-weight: 900;
    /*line-height: normal;*/
    letter-spacing: 0.6px;
    display: flex;
    /*height: 273px;*/
    /*width: auto;*/
    flex-direction: column;
    /*flex-shrink: 0;*/
    margin-top: 45px;
    min-width: 734px;

}

.main-page-greetings-left-textSmall {
    color: #000;
    font-size: 20px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    display: flex;
    /*width: 534px;*/
    flex-direction: column;
    /*flex-shrink: 0;*/
}

.main-page-pic {
    width: auto;
    /*height: 593px;*/
    height: auto;
}

.request-button {
    width: 335px;
    height: 59px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5970FF;
    /*background: #5970FF;*/
    cursor: pointer;

}
.request-button:active {
    box-shadow: 3px 3px 3px rgb(11, 19, 34);
}
.request-button-text {
    text-align: center;
    padding: 14px 0px 18px 0px;
    color: #FFF;
    font-size: 22px;
    font-family: Inter, serif;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.22px;

}
.request-button-link-effect {
    text-decoration: none;
    /*justify-self: flex-start;*/
    /*align-self: center; */
    margin-top: 50px;
}

.main-page-whyWeAre-text, .main-page-prices-details-text {
    font-family: 'Ferry Black', serif;
    display: flex;
    width: 743px;
    flex-direction: column;
    flex-shrink: 0;
    color: #000;
    font-size: 45px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.45px;
}

.main-page-whyWeAre {
    margin: 109px 19px 0px 51px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    column-width: auto;
}

.slide {
    width: 400px;
    height: 225px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);

}
.slide img {
    /*z-index: 1;*/
    width: 64px;
    height: 64px;
    flex-shrink: 0;
    margin: 30px 0px 12px 20px;

}
.slide-text {
    color: #000;
    font-size: 18px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    /*display: flex;*/
    width: 313px;
    /*flex-direction: column;*/
    /*flex-shrink: 0;*/
    margin-left: 20px;
}

.main-page-whyWeAre-carousel-container {
    /*width: 1440px;*/
    /*width: auto;*/
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-template-columns: 10% 80% 10%;*/
    /*grid-row-gap: 54px;*/
    width: auto;
    /*min-width: 1200px;*/


}
.main-page-whyWeAre-carousel-container > :nth-child(n) {
    align-self: center;

}

.main-page-whyWeAre-carousel-container-slider {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: auto;

    gap: 50px;
    /*width: 100vw;*/
}

.main-page-whyWeAre-carousel-container-slider > :nth-child(n) {
    margin: 0px 20px 0px 20px;
}

.main-page-pic-middle-container {
    margin: 180px 81px 0px 51px;
    display: flex;
    justify-content: center;
}

.main-page-prices-details {
    display: flex;
    justify-content: space-between;
    width: auto;

}
.main-page-prices {
    margin: 268px 36px 0px 60px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 70px;
    column-width: auto;
}

.main-page-tariff {
    border-radius: 10px;
    /*border: 2px solid #FFB64F;*/
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    width: 415px;
    height: 540px;
    flex-shrink: 0;
}

.main-page-tariff-head-left {
    border-radius: 10px 10px 0px 0px;
    background: #FFB64F;
    width: 415px;
    height: 132px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    /*display: grid;*/
    /*grid-template-columns: repeat(1, 1fr);*/

}
.main-page-tariff-head-middle {
    border-radius: 10px 10px 0px 0px;
    background: #7CE3E1;
    width: 415px;
    height: 132px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}
.main-page-tariff-head-right {
    border-radius: 10px 10px 0px 0px;
    background: #000;
    width: 415px;
    height: 132px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}
.main-page-tariff-icon {
    margin: 11px 24px 38px 00px;
    /*margin: 11px 24px 0px 300px;*/
}
.main-page-tariff-text {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    margin: 30px 0px 0px 30px;
    /*margin: 30px 76px 72px 34px;*/
    row-gap: 10px;
    flex-shrink: 0;
}
.main-page-tariff-text-topic {
    color: #000;
    font-size: 30px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
}
.main-page-tariff-text-info {
    color: #000;
    font-size: 18px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    /*min-width: 313px;*/
    /*flex-wrap: nowrap;*/
}

.main-page-tariff-body {
    display: grid;
    /*grid-template-rows: repeat(8, 1fr);*/
    grid-template-rows: 21px 46px 91px 34px 27px 27px 22px 59px;
    margin-left: 30px;
    margin-top: 15px;
    /*grid-row-gap: 0px 10px 59px 10px 5px 5px 55px;*/
    /*grid-row-gap: 10px;*/
}

.main-page-tariff-body-tariff {
    border-radius: 10px;
    background: #3BA5E0;
    width: 134px;
    height: 24px;
    flex-shrink: 0;
    display: grid;
    margin-right: 12px;
    justify-self: end;

}
.main-page-tariff-body-tariff span {
    color: #FFF;
    font-size: 14px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.14px;
    align-self: center;
    justify-self: center;
}

.main-page-tariff-body-price {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-self: start;
    column-gap: 19px;
    /*grid-row-gap: 10px;*/
    /*margin-top: 1px;*/
    /*margin-bottom: 10px;*/
}
.main-page-tariff-body-price-left {
    color: #000;
    font-size: 30px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.3px;
}
.main-page-tariff-body-price-right {
    color: #000;
    font-size: 25px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.25px;
    /*text-decoration-line: strikethrough;*/
    text-decoration-line: line-through;
    opacity: 0.5;
}
.main-page-tariff-body-price-details {
    color: #000;
    font-size: 18px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
    /*margin-top: 10px;*/
    /*grid-column-gap: 10px;*/
}
.main-page-tariff-body-tariff-details {
    color: #000;
    font-size: 20px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
    /*margin-top: 59px;*/
    /*margin-bottom: 10px;*/
}

.main-page-tariff-body-tariff-details-explanations {
    /*margin-top: 10px;*/
    /*grid-column-gap: 10px;*/
    color: #000;
    font-size: 18px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.18px;
}
.tariff-button {
    border-radius: 5px;
    background: #D2D2D2;
    height: 59px;
    width: 355px;
    margin-top: 45px;
    cursor: pointer;
}
.tariff-button-text {
    color: #000;
    font-size: 20px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 18px 0px 0px 45px;
}
.tariff-button-link-effect {
    text-decoration: none;
}

.tariff-button:active, .tariff-button-new:active {
    box-shadow: 3px 3px 3px rgb(11, 19, 34);
}
.tariff-button-new {
    border-radius: 5px;
    background: #5970FF;
    height: 59px;
    width: 355px;
    margin-top: 45px;
    cursor: pointer;
}
.tariff-button-text-new {
    color: #FFF;
    font-size: 20px;
    font-family: var(--font-inter);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
    padding: 18px 0px 0px 123px;
}

.main-page-footer {
    padding-top: 450px;

}

/*@media screen and (max-width: 700px) {*/
/*    .main-page-greetings {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        !*grid-template-columns: repeat(2, 1fr);*!*/
/*        !*grid-template-columns: 60% 40%;*!*/
/*        grid-template-rows: 620px;*/

/*        margin: 24px 36px 109px 60px;*/
/*    }*/

/*    .main-page-whyWeAre .main-page-whyWeAre-text span {*/
/*        display: grid;*/
/*        grid-template-columns: 1fr;*/
/*        grid-template-rows: 620px;*/
/*        margin-top: 600px;*/
/*    }*/
/*}*/

@media screen and (max-width: 700px) {

        .main-page {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            width: auto;
            justify-self: center;
        }

        .main-page-greetings {
            display: grid;
            grid-template-columns: 1fr;
            /*grid-template-columns: repeat(2, 1fr);*/
            /*grid-template-columns: 60% 40%;*/
            /*grid-template-rows: 620px;*/
            width: auto;
            /*margin: 24px 36px 109px 60px;*/
            justify-self: center;
        }

        .main-page-whyWeAre-carousel-container-slider {
            display: grid;
            grid-template-columns: 1fr;
            /*width: auto;*/

            /*gap: 50px;*/
            /*width: 100vw;*/
            justify-self: center;
        }
        .main-page-whyWeAre-carousel-container-slider > div:nth-child(odd) {
            display: none;
        }

        .main-page-prices-details {
            display: grid;
            grid-template-columns: 1fr;
            /*width: auto;*/
            gap: 50px;
            justify-self: center;
        }

        .main-page-whyWeAre {
            justify-self: center;
            gap: 0;
            margin: 20px 0px 0px 0px;

        }
        .main-page-prices {
            display: grid;
            grid-template-rows: 1fr;
            justify-self: center;
            margin: 20px 0px 0px 0px;
        }

        .main-page-whyWeAre-text, .main-page-prices-details-text {
            text-align: center;
        }
        .main-page-footer {
            padding-top: 50px;
        }
        .main-page-whyWeAre {
            display: grid;
            grid-template-rows: 1fr;
            justify-self: center;
            gap: 50px;

        }
        .main-page-pic-middle-container {
            margin: 40px 0px 0px 0px;
            /*display: flex;*/
            /*justify-content: center;*/
        }
        .main-page-greetings-left {
            /*display: grid;*/
            /*!* grid-template-rows: repeat(3, 1fr); *!*/
            /*grid-template-rows: 64% 10% 36%;*/
            /*z-index: 2;*/
            min-width: 680px;
        }
}


@media screen and (max-width: 670px) {


}